<div class="row">
  <div class="col-md-9">
    <div class="slider">
      <ul class="slides">
        {{#each movies as |movie|}}
        <li><a href="/details/{{movie.id}}"><img src="{{movie.fields.image_url}}" alt="{{movie.fields.title}}"></a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="row ">
      {{#each movie2 as |movie|}}
      <div class="col-sm-6 col-md-12 ">
        <div class="latest-movie ">
          <a href="/details/{{movie.id}}"><img src="{{movie.fields.image_url}}" alt="{{movie.fields.title}}"></a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div> <!-- .row -->
<div class="row ">
  {{#each movie3 as |movie|}}
  <div class="col-sm-6 col-md-3 ">
    <div class="latest-movie ">
      <a href="/details/{{movie.id}}"><img src="{{movie.fields.image_url}}" alt="{{movie.fields.title}}"></a>
    </div>
  </div>
  {{/each}}
</div> <!-- .row -->

<div class="row ">
  <div class="col-md-4 ">
    <h2 class="section-title ">December premiere</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="movie-schedule ">
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
    </ul> <!-- .movie-schedule -->
  </div>
  <div class="col-md-4 ">
    <h2 class="section-title ">November premiere</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="movie-schedule ">
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
    </ul> <!-- .movie-schedule -->
  </div>
  <div class="col-md-4 ">
    <h2 class="section-title ">October premiere</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="movie-schedule ">
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
      <li>
        <div class="date ">16/12</div>
        <h2 class="entry-title "><a href="# ">Perspiciatis unde omnis</a></h2>
      </li>
    </ul> <!-- .movie-schedule -->
  </div>
</div>