<div class="breadcrumbs">
  <a href="/">Home</a>
  <span>Movie Review</span>
</div>

<div class="filters">
  <select name="category" id="category" placeholder="Choose Category">
    {{#each genres as |genre|}}
    <option value="{{genre}}">{{genre}}</option>
    {{/each}}
  </select>
  <select name="#" id="#">
    <option value="#">2012</option>
    <option value="#">2013</option>
    <option value="#">2014</option>
  </select>
</div>
<div class="movie-list">
  {{#each movies as |movie|}}
  <div class="movie">
    {{#if movie.fields.image_url}}
    <figure class="movie-poster"><img src="{{movie.fields.image_url}}" alt="{{movie.fields.title}}"></figure>
    {{else}}
    <figure class="movie-poster"><img src="https://vignette.wikia.nocookie.net/lucidia/images/4/40/Lucidia_error.jpg/revision/latest?cb=20170213032619"
        alt="Douze"></figure>
    {{/if}}
    <div class="movie-title"><a href="/details/{{movie.id}}">{{movie.fields.title}}</a></div>
    <p>{{movie.fields.plot}}</p>
  </div>
  {{/each}}
</div> <!-- .movie-list -->

<div class="pagination">
  <a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
  <span class="page-number current">1</span>
  <a href="#" class="page-number">2</a>
  <a href="#" class="page-number">3</a>
  <a href="#" class="page-number">4</a>
  <a href="#" class="page-number">5</a>
  <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
</div>